body {background-color: black}
h1, h2, td, th, {
  color: white;}
h3 {color: lightblue;
text-align: center;
font-size: 100px;
  text-shadow: 2px 2px 5px darkblue;}
img { border: white 2x;
width: 400px;
height: 400px}
nav{list-style-type:none;
position:fixed;
background-color:white;
width: 100%;
top:0;
left:0}
li{
  display:inline;
  padding: 15px;
  float: right
}
li:hover{
 background-color:lightblue;
}
a{
  text-decoration:none;
  color:lightblue;
  text-font:20
}
